{:duct.profile/base
 {:duct.core/project-ns blog-articles-importer
  :duct.server.http/jetty {:port 3000}

  :duct.router/ataraxy
  {:routes {[:get "/ping"] [:blog-articles-importer.handler/ping]
            "/articles" ^:camelizer
            {[:put #{company}] [:blog-articles-importer.handler/register company]
             [:get #{company}] [:blog-articles-importer.handler/get company]}}
   :middleware {:camelizer #ig/ref :blog-articles-importer.middleware/camelizer}}

  :blog-articles-importer.handler/ping {}
  :blog-articles-importer.handler/register {:register #ig/ref :blog-articles-importer.usecase/register}
  :blog-articles-importer.handler/get {:companies #ig/ref :blog-articles-importer/companies
                                       :get #ig/ref :blog-articles-importer.usecase/get}
  :blog-articles-importer.middleware/camelizer {}

  ;; fetcher
  :blog-articles-importer.usecase.fetcher/uzabase {}
  :blog-articles-importer.usecase.fetcher/sansan {}
  :blog-articles-importer.usecase.fetcher/m3 {}
  :blog-articles-importer.usecase.fetcher/mercari {}
  :blog-articles-importer.usecase.fetcher/line {}
  :blog-articles-importer.usecase.fetcher/cyberagent {}
  :blog-articles-importer.usecase/register {:article-boundary #ig/ref :blog-articles-importer.driver/article
                                            :company-boundary #ig/ref :blog-articles-importer.driver/company
                                            :companies #ig/ref :blog-articles-importer/companies}

  ;; getter
  :blog-articles-importer.usecase/get {:article-boundary #ig/ref :blog-articles-importer.driver/article
                                       :company-boundary #ig/ref :blog-articles-importer.driver/company}

  :blog-articles-importer.driver/article {:a "b"}
  :blog-articles-importer.driver/company {:a "b"}

  :blog-articles-importer/companies {:uzabase #ig/ref :blog-articles-importer.usecase.fetcher/uzabase
                                     :sansan #ig/ref :blog-articles-importer.usecase.fetcher/sansan
                                     :m3 #ig/ref :blog-articles-importer.usecase.fetcher/m3
                                     :mercari #ig/ref :blog-articles-importer.usecase.fetcher/mercari
                                     :line #ig/ref :blog-articles-importer.usecase.fetcher/line
                                     :cyberagent #ig/ref :blog-articles-importer.usecase.fetcher/cyberagent
                                     }}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
