{:duct.profile/base
 {:duct.core/project-ns blog-articles-importer
  :duct.server.http/jetty {:port 3000}

  :duct.router/ataraxy
  {:routes {[:get "/ping"] [:blog-articles-importer.handler/ping]
            "/articles" ^:camelizer
            {[:put] [:blog-articles-importer.handler/register]
             [:get] [:blog-articles-importer.handler/get]}}
   :middleware {:camelizer #ig/ref :blog-articles-importer.middleware/camelizer}}

  :blog-articles-importer.handler/ping {}
  :blog-articles-importer.handler/register {:article-boundary #ig/ref :blog-articles-importer.driver/article}
  :blog-articles-importer.handler/get {:article-boundary #ig/ref :blog-articles-importer.driver/article}
  :blog-articles-importer.middleware/camelizer {}

  :blog-articles-importer.driver/article {:a "b"}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
